.wrapper {
  width: 318px;
  padding: 14px 21px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: end;
}

.cameraOn {
  justify-content: flex-start;
  gap: 18px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.cross {
  fill: var(--bg-secondary);
}

.cancelBtn {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-color: var(--red);
}

.acceptBtn {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-color: var(--green-btn-normal);
}

.check {
  fill: var(--bg-secondary);
}

.cameraBtn {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 145px;
  background-color: var(--light-gray);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cameraIcon {
  width: 54px;
  height: 43px;
}
