.wrapper {
  position: absolute;
  bottom: 12px;
  left: 6px;
  right: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 9px;
  padding-left: 9px;
  padding-top: 5px;

  border-top: 1px dashed var(--main-gray);
  height: 74px;
  /* width: 100%; */

  /* place-items: center; */

  /* margin-bottom: auto; */
}

.cancel,
.confirm {
  width: 41px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.cancel {
  background-color: var(--red);
}

.confirm {
  background-color: var(--green);
}

.money {
  color: var(--CRM-modal-StatusNew, #ebd534);
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.greyCircle {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 34px;
  background: var(--input-text);
  cursor: pointer;
}
