.topPart {
  display: flex;
  gap: 11px;

  margin-bottom: 32px;
}

.mechNameBox {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.name {
  color: var(--light-gray);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
}

.paleText {
  color: var(--input-text);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
}

.salaryInfoBox {
  width: 238px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.salaryPoint {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount {
  color: var(--green);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.amountPossible {
  color: #ffff8c;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
